{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <main class="p-3 p-md-5 m-md-3">

        <h1>Modifier mon mot de passe</h1>

        <a href="{{ path('account') }}">Retourner à mon compte</a>

        <hr>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
        {{ form(form) }}

    </main>

{% endblock %}
