{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Impulsion Collective{% endblock %}

{% block body %}

<main class="p-3 p-md-5 m-md-3">
    <h2>Nous Contacter</h2>
    <p>N'hésitez pas a prendre contact avec notre équipe. Nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col-md-8">
        {{ form(form) }}
    </div>
    <div class="col-md-3">
        <strong>Impulsion Collective</strong>
        <hr>
        <p>
            06 20 30 40 58 <br>
            8 rue Arthur Rimbaud <br>
            80000 Amiens <br>
            contact@impulsioncollective.com
        </p>
    </div>
</main>
{% endblock %}
