<h1>Félicitation {{ recipientFullName }} !</h1>

<p>
    Nous avons le plaisir de vous confirmer votre inscription sur impulsioncollective.com <br>

    Votre adresse e-mail de connexion est : <strong>{{ recipientMail }}</strong>
</p>

<p>Rendez-vous sur <a href="http://127.0.0.1:8000/shop/">impulsioncollective.com</a></p>

<p>
    Cordialement,
    Impulsion Collective
</p>