<h1>Bonjour {{ recipientFullName }} !</h1>

<p>
    Ce mail sert à mettre à jour votre mot de passe sur le site impulsioncollective.com <br>

    Votre adresse e-mail de connexion est : <strong>{{ recipientMail }}</strong> <br>

    Voici le lien pour mettre à jour votre mot de passe : <a href="http://127.0.0.1:8000{{ url }}">Mettre à jour mon mot de passe</a>
</p>

<p>Rendez-vous sur <a href="http://127.0.0.1:8000/shop/">impulsioncollective.com</a></p>

<p>
    Cordialement,
    Impulsion Collective
</p>